html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.outercontainer {
    height: 100%;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    flex-grow: 0;

}

.header .logo {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 12px;
}

.top {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-inline: 100px;
    flex-grow: 1;
    padding-top: 50px;
}

.top img {
    max-height: 200px;
}
.top .content .title {
    font-size: 36px;
    font-weight: 800;
}

.top .content .signup {
    background-color: #3882F6;
    border-width: 0;
    border-radius: 3px;
    color: white;
    padding: 4px 16px;
}

.top .content {
    color: white;
    max-width: 400px;
}

.mid .content {
    display: flex;
    justify-content: space-between;
    padding-inline: 140px;
}

.mid .content .text {
    color: #1F2937;
    max-width: 120px;
    font-size: 12px;
}

.mid .title {
    text-align: center;
    padding: 25px;
    font-weight: bold;
}

.content img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 14px;
}

.footer {
    background-color: #1F2937;
    flex-grow: 0;
    text-align: center;
    color: #E5E7EB;
    font-size: 12px;
    padding: 20px;
}

.bot1 {
    background-color: #E5E7EB;
    padding: 60px 120px;
    

}

.bot1 .text {
    text-align: center;
    color: #1F2937;
    font-style: italic;

}

.bot1 .author {
    text-align: end;
    font-size: 12px;
    font-weight: bold;
}

.mid {
    flex-grow: 1;
}


.box {
    flex-direction: column;
    display: flex;
}

.blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    margin: 50px 140px;
    border-radius: 5px;
    background-color: #3882F6;
}

.blue .text .title {
    color: white;
    font-weight: bold;
}

.blue .text .text1 {
    color: white;
    font-size: 12px;
}

.blue .button {
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 1px;
    padding: 3px 14px;
    font-size: 9px;
    font-weight: bold;
}


